<% include inc/header %>
<div id="main">
    <div id="main-inner">
        <div id="topnav">
            <ul>
                <li><a href="/">首页</a></li>
                <li class="sep"> | </li>
                <li><a href="/tag.html">标签</a></li>
                <% include inc/navbar %>
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div id="aboutme"><p><%- site.master.about %></p></div>
        <div id="tag-cloud">
            <% coreTags.forEach(function (tag) { %>
            <a href="/tag.html#<%= tag.label %>"><%= tag.label %><span class="count">×<%= tag.count %></span></a>
            <% }) %>
            <div style="clear:both;"></div>
        </div>
        <div id="article-blocks">
            <% articles.forEach(function (ar) { %>
            <div class="article-block">
                <p class="title"><a href="/articles/<%= ar.id %>.html"><%= ar.title %></a></p>
                <p class="abstract">&lt;摘要&gt;: <%= ar.abstract %></p>
                <p class="meta">作者 <%= ar.author %> | 发布于 <%= ar.postedOn %> | Tags 
                    <% ar.tags.forEach(function (tag) { %>
                    <a class="tag" href="/tag.html#<%= tag %>"><%= tag %></a>
                    <% }) %>
                </p>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<% include inc/footer %>
