<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title><%= site.rss.title %></title>
        <link><%= site.link %></link>
        <description><%= site.rss.desc %></description>
        <lastBuildDate><%= site.rss.lastBuildDate %></lastBuildDate>
        <language><%= site.rss.lang %></language>
        <% site.rss.items.forEach(function (item) { %>
        <item>
            <title><%= item.title %></title>
            <link><%= item.link %></link>
            <guid><%= item.guid %></guid>
            <author><%= item.author %></author>
            <pubDate><%= item.pubDate %></pubDate>
            <description><%= item.description %></description>
        </item>
        <% }) %>
    </channel>
</rss>
